{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "plugins": ["prettier-plugin-css-order"],
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "css",
        "tabWidth": 2
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel",
        "tabWidth": 2
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "tabWidth": 2,
        "printWidth": 120
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "tabWidth": 2
      }
    }
  ]
}
